<div style="margin-left:20px;">
  <p>
    buinding-method1 works!
  </p>
  <p>
    <label>First Name:</label>
    <input type="text" [(ngModel)]="user.firstName" required>
  </p>
  <p>
    <label>Password:</label>
    <input type="text" [(ngModel)]="user.password" required>
  </p>
  <button (click)="onSubmit()">click me</button>

  <p>{{user.firstName}}</p>
  <p>{{user.password}}</p>
</div>