<p>
  buinding-method3 works!
</p>
<div class="col-lg-6">
  <section class="sample-app-content">
    <h1>Model-based Form Example:</h1>
    <form [formGroup]="form2" (ngSubmit)="onSubmitModelBased()">
      <p>
        <label>First Name:</label>
        <input type="text" formControlName="firstName">
      </p>
      <p>
        <label>Password:</label>
        <input type="password" formControlName="password">
      </p>
      <p>
        <button type="submit" [disabled]="!form2.valid">Submit</button>
      </p>
    </form>
  </section>
</div>-->