<div class="dashboard-row">
  <div class="dashboard-sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div style="width:100%;margin-left: 0%;">
    <app-top-navbar></app-top-navbar>
    <section style="background-color:white;">
      <!--class="main-container router-outlet"-->
      <router-outlet></router-outlet>
    </section>
  </div>
</div>