.dashboard-row {
  display: flex; /* equal height of the children */
}

.dashboard-col {
  flex: 1; /* additionally, equal width */
}

.dashboard-sidebar{
    background-color:#1f2451;
    width: 20%;
    min-width: 20%;
    padding-left: 2%;
    }

/*.router-outlet{
    margin-left: 0%;
}*/