<p>
  buinding-method2 works!
</p>
<div class="col-lg-6">
    <form [formGroup]="form1" (ngSubmit)="submitFormBuilder()">
        <div formGroupName="name1">
            <input formControlName="first" placeholder="First">
            <input formControlName="last" placeholder="Last">
        </div>
        <input formControlName="email" placeholder="Email">
        <button>Submit</button>
    </form>
    <p>Value: {{ form1.value | json }}</p>
    <p>Validation status: {{ form1.status }}</p>
</div>